<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="laydate/laydate.js"></script>
    <script>
        (function () {
            var html = document.documentElement;
            var w = html.getBoundingClientRect().width;
            console.log(w)
            html.style.fontSize = w / 16 + 'px';
        })()
    </script>
    <link rel="stylesheet" type="text/css" href="css/css2.css">
    <script src="lib/jquery-1.7.2.js"></script>
    <script src="lib/bootstrap.js"></script>
</head>

<body>

    <div id="app">


        <!--<div class="zz"></div>-->
        <router-view></router-view>
        <!--seek 查询页-->
        <template id="home">
            <div id="homes">
                <header class=" yiJiaHeader">
                    <span class="headerYiJia">壹嘉</span>
                </header>
        <router-view></router-view>
                
                <footer class="yiJiaFooter">
                    <ul class="clearfix yiJiaUl">
                        <li class="yiJiaLi yiJiaActive">首页</li>
                        <li class="yiJiaLi">+</li>
                        <li class="yiJiaLi">个人中心</li>
                    </ul>
                </footer>
            </div>
        </template>
        <template>  
            <div class="yiJiaImg">
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                <div class="yiJiacontent">
                    <div class="common yiJIaWcs yiJiaBoxs">
                        <ul class="yiJIaWcsUl">
                            <li class="yiJIaWcsLi">我的行程</li>
                            <li class="yiJIaWcsLi">出差申请</li>
                            <li class="yiJIaWcsLi">审批</li>
                        </ul>
                    </div>
                    <div class="common yiJIaGghh yiJiaBoxs">
                            <ul class="yiJIaGghhUl">
                            <li class="yiJIaGghhLi">国内机票</li>
                            <li class="yiJIaGghhLi">国际机票</li>
                            <li class="yiJIaGghhLi">国内酒店</li>
                            <li class="yiJIaGghhLi">海外酒店</li>
                            <li class="yiJIaGghhLi">火车票</li>
                            <li class="yiJIaGghhLi">用车</li>
                        </ul>
                    </div>
                    <div class="common yiJiaYz ">
                        提供优质服务
                    </div>
                    <div class="common yiJiaFw ">

                    </div>
                </div>
        </template>
        <template id="seek">
            <header class="findHeader">
                <span class="findHeaderBar">&#8249</span>
                <span>机票查询</span>
            </header>
            <div class="findList clearfix ">
                <div :class="{listLeft:true,findActive:sdActivel}" @click="oneway">
                    <span>单程</span>

                </div>
                <div :class="{listRight:true,findActive:sdActiver}" @click="goback">
                    <span>往返</span>
                </div>
            </div>


            <div class="findContent">
                <div class="findRoute clearfix">
                    <div class="routrLeft">
                        <span class="routrLeftImg"></span>
                        <span :class="{routeActive:sdActivel1}" @click="business">因公</span>
                    </div>
                    <div class="routrRight">
                        <span class="routrLeftImg"></span>
                        <span :class="{routeActive:sdActiver1}" @click="privately">因私</span>
                    </div>
                </div>

                <div v-if="sdActivel1">
                    <div class="findGo">
                        <div class="findTrip">选择出行人</div>
                    </div>
                    <div class="findGo">
                        <div class="findTrip">选择出差申请单</div>
                    </div>
                </div>
                <div class="findGo clearfix">
                    <span class="findTrip" style="float: left;width: 30%; color:#646464;margin-right:0;">北京</span>
                    <span class="tripBac"></span>
                    <span class="findTrip" style="float: right;width: 30%; color:#646464;text-align: right">昆明</span>
                </div>
                <div class="findGo clearfix">
                    <div class="findTrip clearfix">
                        <div class="findTripLeft">
                            <span style="color:#646464">6月4日</span>
                            <span style="color:#646464; font-size:0.5rem;">周三</span>
                        </div>
                        <div class="findTripRight" v-if="sdActiver">
                            <span style="color:#646464">6月6日</span>
                            <span style="color:#646464; font-size:0.5rem;">周五</span>
                        </div>

                    </div>

                </div>
                <div class="findGo clearfix">
                    <div class="findTrip findChild">
                        <div class="findChild1">
                            <span style="font-size:0.5rem;">带婴儿</span><br>
                            <span style="font-size:0.5rem;">0-2岁</span>
                        </div>
                        <div class="findChild1">
                            <span style="font-size:0.5rem;">带儿童</span><br>
                            <span style="font-size:0.5rem;">0-12岁</span>
                        </div>
                        <div class="findChild1 findChild2">
                            选择仓位
                        </div>

                    </div>
                </div>
                <div class="findGo">
                    <div class="findCheck">
                        <!--<input type="che">-->
                        <span class="findRadio"></span>
                        <span>本次出行需要未来人员定义</span><br>
                        <span style="color:#d4d4d4 ;font-size:0.3rem ;padding-left:0.5rem;">勾选后，本次出行将使用您的差旅标准</span>

                    </div>
                </div>
                <div class="findGo" @click="fun">
                    <div class="findSub">
                        <a style="color:#fff;">搜索</a>

                        <!--<span></span>-->
                    </div>
                </div>
                <!--<router-view></router-view>-->
            </div>
            <div class="findFooter">
                <p class="findFooter1">
                    本次预定使用张三的差旅标准
                </p>
                <p class="findFooter2">
                    选好城市之后，选择出
                </p>
            </div>
        </template>

        <!--航班列表-->
        <template id="list1">
            <!--<header class="findHeader">
                 <span class="findHeaderBar">&#8249</span>
                <span style="text-align: center;display: inline-block;">北京-首都</span>
            </header>-->
            <div id="#list">
                <header class="findHeader">
                    <span class="findHeaderBar" @click="prev">&#8249</span>
                    <span>北京-首都</span>
                </header>
                <!--<div>
               
            </div>-->
                <div class="listDate clearfix common">
                    <div class="float listDateLeft clearfix">
                        <div class="float listDatePrev1">
                            <span class="listFloat listDatePrev">&#8249</span>
                        </div>
                        <div class="float listDatePrev2">
                            <span class="listDatePrev">前一天</span>
                            <span class="listDatePrev3">¥554</span>
                        </div>
                    </div>
                    <div class="float clearfix">
                        <!--<div style="width:970px; margin:10px auto;">-->
                        <div class=" listFloat laydateBg clearfix">
                            <input class="laydate-icon" onclick="laydate()">
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="float listDateRight clearfix">

                        <div class="float listDatePrev2">
                            <span class="listDateNext">后一天</span>
                            <span class="listDatePrev3">¥854</span>
                        </div>
                        <div class="float listDatePrev1">
                            <span class="listFloat listDatePrev">&#8250</span>
                        </div>
                    </div>

                </div>
                <ul class="listUl">
                    <li v-for="(index, todo)  in todos" class="clearfix listL" @click="clic">
                        <!--<div class="float" style="width:90px;">
                        <div>{{todo.text1}}</div>
                        {{$index}}
                        <div><span>东航</span></div>
                    </div>
                    <div class="float" style="width:80px;">{{todo.text2}}</div>
                    <div class="float">{{todo.text3}}</div>-->
                        <div class="float clearfix listTime">
                            <div class="listTime1 clearfix">
                                <div>
                                    <span>00:10</span> </div>

                                <div> <span>-----</span> </div>


                                <div> <span>00:10</span> </div>

                                <div class="listTime1S4"> <span>+1天</span> </div>




                            </div>
                            <div class="listTime2">
                                <span class="listTime2S listTime2S1">
                                首都-T2
                            </span>
                                <span class="listTime2S listTime2S2">
                               周水子
                            </span>
                            </div>
                            <div class="listTime3">
                                <span></span>
                                <span>东航MU2fsdfds8295</span>
                            </div>
                        </div>
                        <div class="float listWei">
                            <div class="listWeiS">
                                违
                            </div>
                        </div>
                        <div class="float listMoney">
                            <div class="listMoney1">
                                <span class="">¥1111554</span>
                            </div>
                            <div class="listTime2S listMoney2">
                                <span>经济舱</span>
                                <span>9.0折</span>
                            </div>
                            <div class="listMoney3">余三张</div>
                        </div>

                    </li>
                </ul>
                <div class="listFooter">
                    <ul class="clearfix listFooterUl">
                        <li class="listFooterLi listFooterActive">从早到晚</li>
                        <li class="listFooterLi">价格</li>
                        <li class="listFooterLi">准点率</li>
                        <li class="listFooterLi">航班筛选</li>
                    </ul>
                </div>
            </div>
        </template>

        <!-- 往返组件-->

        <!--点击航班列表后具体展示-->
        <template id="listsub">

            <ul>
                {{ $route.params.author}}
                <li class="clearfix lis" @click="fun">
                    <div class="float" style="width:90px;">
                        <div>北京-天津</div>
                        <div><span>东航</span></div>
                    </div>
                    <div class="float" style="width:80px;">
                        <span data-toggle="modal" data-target="#layer" v-on:click="nowIndex=$index">违</span>
                    </div>
                    <div class="float">113213</div>
                    <!--{{ todo.text }}-->
                </li>
            </ul>

        </template>
        <!---->
        <!--遮罩层、、、-->
        <div role="dialog" class="modal fade bs-example-modal-sm" id="layer">
            <div class="modal-dialog" style="margin-top:150px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title">违背原因、、、、、、</h4>
                        <h4 class="modal-title" style="margin:60px 0;">超过五天、、、、、、</h4>
                    </div>
                    <div class="modal-body text-right">
                        <!--<button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                        <button data-dismiss="modal" class="btn btn-danger btn-sm" v-on:click="deleteMsg(nowIndex)">确认</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!--//////////-->
    </div>
    <script src="js/main2.js"></script>
</body>

</html>